@import url(fontiran.scss);
@import "variable";

// Delete Custom Vuetify Font Family And Add Our Font Family "IRANSans"

$font-family: IRANSans;
.v-application {
  .display-1,
  .display-2,
  .display-3,
  .display-4,
  .headline,
  .title,
  .subtitle-1,
  .subtitle-2,
  .body-1,
  .body-2,
  .caption,
  .overline {
    font-family: $font-family,sans-serif !important;
  }
  font-family: $font-family,sans-serif!important;
}
// Elements Default Style

html, body {
  direction: rtl;
  scroll-behavior: smooth;
};
li {
  list-style: none!important;
}
a{
  text-decoration: none;
}
button{
  letter-spacing: 0!important;
}

// General Classes
.cursor-pointer{
  cursor: pointer;
}
.p-relative{
  position: relative;
}
.p-absolute{
  position: absolute;
}
.left-0{
  left: 0;
}
.right-0{
  right: 0;
}
.w-100{
  width: 100% !important;
}
.radius-1{
  border-radius: 1rem !important;
}
.content-btn{
  color: white!important;
}
.gap-row-sm{
  row-gap: 20px;
}
.gap-col-sm{
  column-gap: 20px;
}

// Customize Library Element
.last-news-section{
  .v-text-field--outlined > .v-input__control > .v-input__slot {
    background: white!important;
  }
  .theme--light.v-text-field--outlined:not(.v-input--is-focused):not(.v-input--has-state) > .v-input__control > .v-input__slot fieldset {
    color: white;
  }
  .theme--light.v-text-field--outlined:not(.v-input--is-focused):not(.v-input--has-state):hover > .v-input__control > .v-input__slot fieldset{
    color: $purple!important;
  }
  .v-input__slot:hover{
    outline: none!important;
    border: none!important;
  }
}
